{% extends 'base/layout-main.html.twig' %}

{% block title %}Agregar Archivo - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Adjuntar Archivo al Expediente</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('expediente_show',{'id': id}) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
        </a>

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        {{ include('expediente/_form_archivo.html.twig') }}
      </div>
    </div>

{% endblock %}
