{% extends 'base/layout-main.html.twig' %}
{% block title %}Expediente - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">
          {% if app.user.area %}
            Área : {{app.user.area}}
            {% if app.user.area.getParent %}
              - ({{app.user.area.getParent}})
            {% endif %} 
          {% else %}
          (Administrador)    
          {% endif %}
        </h1>
      </div>
      
    </div>

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Expedientes</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">
            
          <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" target="_blank" href="{{path('expediente_print_estadisticas',  { 'filter': filter })}}">
              <i class="nova-printer icon-text align-middle mr-1"></i> &nbsp; Imprimir Listado
          </a>
      </div>  
    </div>

    {{ include('base/_flash.html.twig') }}
    {{ include('expediente/_filtro.html.twig', {'form': formFiltro}) }}

    <div class="card mb-3 mb-md-4">
      <div style="padding:0px 0px;" class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm table-shadow table-row-click bg-white mb-5">

            <thead>
                <tr>

                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  Número
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  Carátula
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  Juzgado - Area
                </th>

                <th class="font-weight-semi-bold border-top-0 py-2">Solicitante</th>
                </tr>
            </thead>
            <tbody>
        {% for expediente in pagination %}
            <tr>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.numero }}</td>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.caratula }}</td>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.juzgado ? expediente.juzgado.nombre : '-- No se registro Juzgado --'}}  {{expediente.area ? " - " ~ expediente.area.nombre }}</td>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.solicitante ? expediente.solicitante.lastname ~ ', ' ~ expediente.solicitante.nombre }}  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div style="padding:0px;" class="card-footer p-2 d-block d-md-flex justify-content-between">
    <div class="d-flex mb-2 mb-md-0 d-inline-flex">
      {{ pagination.getTotalItemCount }} {{ pagination.getTotalItemCount == 1 ? " registro" : " registros" }} en total
    </div>
    <div class="d-inline-flex align-items-end" >
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>

</div>

{% endblock %}

{% block modal_content %}
  
{% endblock modal_content %}
