{% extends 'base/layout-main.html.twig' %}
{% block title %}Expediente - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">
          {% if app.user.area %}
            Área : {{app.user.area}}
            {% if app.user.area.getParent %}
              - ({{app.user.area.getParent}})
            {% endif %} 
          {% else %}
          (Administrador)    
          {% endif %}
        </h1>
      </div>
      {% if app.user.area and app.user.area.nombre == 'SECRETARIA ADMINISTRATIVA' %}
      <div class="col-md ml-md-auto text-md-right">
        <a class="btn btn-soft-primary btn-sm" href="{{ path('expediente_new') }}">
          <i class="nova-plus align-middle mr-1"></i> &nbsp; Agregar
        </a>
      </div>
      {% endif %}
    </div>

        <h1 class="h3 mb-0">Expedientes</h1>
    {{ include('base/_flash.html.twig') }}
    {{ include('expediente/_filtro.html.twig', {'form': formFiltro}) }}

    <div class="card mb-3 mb-md-4">
      <div style="padding:0px 0px;" class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm table-shadow table-row-click bg-white mb-5">

            <thead>
                <tr>

                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  Número
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  Letra
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  Carátula
                </th>

                <th class="font-weight-semi-bold border-top-0 py-2">Ubicación</th>
                </tr>
            </thead>
            <tbody>
        {% for expediente in pagination %}
            <tr>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.numero }}</td>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.letra }}</td>
                <td onClick="window.location='{{ path('expediente_show', {'id': expediente.id}) }}'">{{ expediente.caratula }}</td>
                <td>
                    {% set i = 1 %}
                    {% set c = expediente.getMovimientos|length %}
                    {% for u in expediente.getMovimientos %}
                      {% if i == c %}
                        {{ u.getArea }}
                      {% endif %}
                      {% set i = i + 1 %}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div style="padding:0px;" class="card-footer p-2 d-block d-md-flex justify-content-between">
    <div class="d-flex mb-2 mb-md-0 d-inline-flex">
      {{ pagination.getTotalItemCount }} {{ pagination.getTotalItemCount == 1 ? " registro" : " registros" }} en total
    </div>
    <div class="d-inline-flex align-items-end" >
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>

</div>

{% endblock %}

{% block modal_content %}
  {% for expediente in pagination %}
    <div id="modalContent{{ expediente.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('expediente/_delete_form.html.twig', {'id': expediente.id }) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock modal_content %}
