{% extends 'base/layout-main.html.twig' %}

{% block title %}Expediente - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Expediente</h1>
      </div>
      
      <div class="col-md ml-md-auto text-md-right">
        {% if expediente.getUser.getId == app.user.id %}
        <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#modalContent">
          <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar
        </button>

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('expediente_edit', {'id': expediente.id}) }}">
          <i class="nova-pencil icon-text align-middle mr-1"></i>
          Editar
        </a>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        {#
        <a target="_blank" class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('log_index') }}?filtro[objectClass]=App\\Entity\\Expediente&filtro[objectId]={{ expediente.id }}">
          <i class="nova-layers-alt icon-text align-middle mr-1"></i> &nbsp; Log
        </a>#}
        {% endif %}
        {# 
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" target="_blank" href="{{path('expediente_print_caratula',  { 'id': expediente.id })}}">
          <i class="nova-printer icon-text align-middle mr-1"></i> &nbsp; Carátula
        </a>
        #}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" target="_blank" href="{{path('expediente_print',  { 'id': expediente.id })}}">
          <i class="nova-printer icon-text align-middle mr-1"></i> &nbsp; Expediente
        </a>
        {% if area %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('area_show', {'id':area}) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
        </a>
        {% else %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('expediente_index') }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
        </a>
        {% endif %}
      </div>
    </div><br>
    {{ include('base/_flash.html.twig') }}
    <div class="col-md mb-2 mb-md-0">
        <h1 class="h6 mb-0 col-md ml-md-auto text-md-right"><b>Creado por: </b>{{expediente.user.lastname ~ ", " ~ expediente.user.name}}</h1>
    </div>
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tbody>
                <tr style="background: #80808012;">
                  <th colspan="6" class="text-center align-middle">Expediente</th>
                </tr>
                <tr>
                  <th width="10%" class="text-right">Número</th>
                  <td width="30%">{{ expediente.numero }}</td>
                  <th width="10" class="text-right">Letra</th>
                  <td width="20%">{{ expediente.letra }}</td>
                  <th width="10" class="text-right">Ingreso</th>
                  <td width="20">{{ expediente.fecha ? expediente.fecha|date('d/m/Y') : '' }}</td>
              </tr>
                <tr>
                  <th class="text-right align-middle">Carátula</th>
                  <td colspan="5">{{ expediente.caratula }}</td>
              </tr>          
                <tr>
                  <th width="10%" class="text-right">Ubicación</th>
                  <td width="20%">
                    {% set i = 1 %}
                    {% set bandera = 0 %}
                    {% set idSeg = 0 %}
                    {% set s = 0 %}
                    {% set status = '' %}
                    {% set c = expediente.getMovimientos|length %}
                    {% for u in expediente.getMovimientos %}
                      <!-- consulto por el ultimo movimiento del expediente para saber en que Area se encuentra y el estado del mismo -->
                      {% if i == c %}
                        {{ u.getArea }}
                        {% set status = u.estado %}
                        {% if u.estado == "Finalizado" or u.estado == "Archivado"%}
                          {% set s = 1 %}
                        {% endif %}
                      {% endif %}
                      {% if app.user.area and app.user.area.id == u.getArea.id and  u.fechaEgreso == null %}
                        {% set bandera = 1 %}
                        {% set idSeg = u.id %}
                      {% endif %}
                      {% set i = i + 1 %}
                    {% endfor %}
                  </td>
                  <th width="10%" class="text-right">Estado</th>
                  <td width="20%" >{{status}}</td>
                  <td colspan="2"></td>
                </tr>
                <tr style="background: #80808012;">
                  <th colspan="6" class="text-center align-middle">Solicitante</th>
                </tr>
               <tr>
                  <th width="10%" class="text-right">Nombre</th>
                  <td colspan="5">
                    <!-- Si el Solicitante existe, mostramos el nombre el boton de editar -->
                    
                    {% if expediente.getSolicitante %}        
                      {{ expediente.getSolicitante.getLastName }}, {{ expediente.getSolicitante.getNombre }}
                      
                      {% if is_granted('ROLE_SUPER_ADMIN') or (expediente.getUser.getId == app.user.id) %}
                        <a class="btn btn-soft-success mx-5 btn-sm" href="{{ path('persona_new',{'exp': expediente.id}) }}">
                          Editar Solicitante
                        </a>
                      {% endif %}   
                    {% else %}
                      <!-- Si el solicitante no existe, preguntamos si el usuario es el creador del expediente para mostrar el boton de "Registrar Solicitante" -->
                      {% if is_granted('ROLE_SUPER_ADMIN') or expediente.getUser.getId == app.user.id %}
                        <a class="btn btn-soft-primary btn-sm" href="{{ path('persona_new',{'exp': expediente.id}) }}">
                          Registrar Solicitante
                        </a>
                      {% else %}
                        --
                      {% endif %}    
                    {% endif %}
                  </td>                 
              </tr>
              <tr>
                  <th  width="10%" class="text-right">Juzgado</th>
                  <td width="20%">{{ expediente.juzgado ? expediente.juzgado.nombre : '-- No se registro juzgado --' }}</td>
                  <th  width="10%" class="text-right">Area</th>
                  <td width="20%" >{{ expediente.area ? expediente.area.nombre : '-- No se registro area --'}}</td>
                  <td colspan="2"></td>
              </tr>
                <tr style="background: #80808012;">
                  <th colspan="6" class="text-center align-middle">Archivo Adjunto</th>
                </tr>
              <tr>
                  <th width="10%" class="text-right">Archivo</th>
                  <td colspan="5" >
                    <!-- Si el archivo existe, mostramos el nombre el boton de editar -->
                    {% if expediente.getArchivo %}                              
                        <div class="col">
                            <embed src="{{ asset('uploads/document/' ~ expediente.getNumero ~ '.pdf')}}" type="application/pdf" width="100%" height="400px" />                    
                        </div>    
                      {% if expediente.getUser.getId == app.user.id %}
                        <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#deleteFile">
                          <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar Archivo
                        </button>
                      {% endif %}   
                    {% else %}
                      <!-- Si el Archivo no existe, preguntamos si el usuario es el creador del expediente para mostrar el boton de "Subir Archivo" -->
                      {% if expediente.getUser.getId == app.user.id %}
                        <a class="btn btn-soft-primary btn-sm" href="{{ path('document_new',{'exp': expediente.id}) }}">
                          <i class="nova-upload icon-text align-middle mr-1"></i> &nbsp; Archivo 
                        </a>
                      {% else %}
                        -- No tiene Archivo Adjunto --
                      {% endif %}    
                    {% endif %}
                  </td>
              </tr>    
            </tbody>

        </table>
        <br><br><br>

        <div class="row align-items-center mb-3 mb-xl-5">
          <div class="col-md mb-2 mb-md-0">
            <h1 class="h3 mb-0">Seguimiento de Expte.</h1>
          </div>
          <div class="col-md ml-md-auto text-md-right">
            
            {% if ((bandera == 1 and idSeg != 0) or is_granted('ROLE_SUPER_ADMIN') or (app.user.area and app.user.area.getNombre == 'SECRETARIA ADMINISTRATIVA')) and s != 1 %}
              <a class="btn btn-soft-primary btn-sm float-right" href="{{ path('movimiento_new',{'exp': expediente.id, 'idSeg': idSeg}) }}">
                <i class="nova-shift-right align-middle mr-1"></i> &nbsp; Enviar a
              </a>            
            {% endif %}
            <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" target="_blank" href="{{path('expediente_print_movimientos',  { 'id': expediente.id })}}">
              <i class="nova-printer icon-text align-middle mr-1"></i> &nbsp; Imprimir Listado
            </a>
          </div>  
        </div><br>
        <div class="table-responsive-md">
          <table class="table table-sm table-shadow table-row-click bg-white mb-5">

            <thead class="border-top">
                <tr>
                  <th  scope="col" class="font-weight-semi-bold border-top-0 py-2">
                    <div class="d-flex justify-content-between align-items-center">
                      Pases
                    </div>
                  </th>
                  <th  scope="col" class="font-weight-semi-bold border-top-0 py-2">
                    <div class="d-flex justify-content-between align-items-center">
                      Ingreso
                    </div>
                  </th>                  
                  <th  scope="col" class="font-weight-semi-bold border-top-0 py-2">
                    <div class="d-flex justify-content-between align-items-center">
                      Observación
                    </div>
                  </th>                  
                  <th  scope="col" class="font-weight-semi-bold border-top-0 py-2">
                    <div class="d-flex justify-content-between align-items-center">
                      Estado
                    </div>
                  </th>
                </tr>
            </thead>
            <tbody>
              {% for m in expediente.getMovimientos %}
              <tr>
                <td>
                  {% if m.getUser and m.getUser.area == app.user.area %} > {% endif %} 
                  {{m.getArea.getParent ? m.getArea.getParent  ~' >' : ''}} {{ m.getArea.nombre}}<p style="font-size:0.8em; color:#757575;"><b>Creado por: </b>{{m.user.lastname ~ ", " ~ m.user.lastname }}</p>
                </td onClick="window.location='{{ path('movimiento_show', {'id': m.id, 'exp':expediente.id, 'area':area}) }}'">
                <td onClick="window.location='{{ path('movimiento_show', {'id': m.id, 'exp':expediente.id, 'area':area}) }}'">{{ m.fechaIngreso ? m.fechaIngreso|date('d/m/Y') : '' }}</td>
                <td onClick="window.location='{{ path('movimiento_show', {'id': m.id, 'exp':expediente.id, 'area':area}) }}'">
                  {{ m.observacion}}
                </td>
                <td onClick="window.location='{{ path('movimiento_show', {'id': m.id, 'exp':expediente.id, 'area':area}) }}'">
                  {% if m.estado == 'Aprobado'%}
                  <h4><span class="badge badge-pill badge-success md-2 mr-2"> {{ m.estado }}</span></4>
                  {% elseif m.estado == 'No Aprobado'%}
                    <h4><span class="badge badge-pill badge-danger md-2 mr-2"> {{ m.estado }}</span></4>
                    {% elseif m.estado == 'Archivado'%}
                    <h4><span class="badge badge-pill badge-dark md-2 mr-2"> {{ m.estado }}</span></4>
                    {% elseif m.estado == 'Finalizado'%}
                    <h4><span class="badge badge-pill badge-light md-2 mr-2"> {{ m.estado }}</span></4>
                    {% elseif m.estado == 'SEF'%}
                    <h4><span class="badge badge-pill badge-primary md-2 mr-2"> {{ m.estado }}</span></4>
                    {% else%}
                  <h4><span class="badge badge-pill badge-warning md-2 mr-2"> {{ m.estado }}</span></4>
                  {% endif %}
                </td>
                
              {% else %}
              <tr>
                  <td colspan="2">No se encontraron registros</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>  
    </div> 

{% endblock %}

{% block modal_content %}
  
  <div id="modalContent" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('expediente/_delete_form.html.twig', {'id': expediente.id}) }}
      </div>
    </div>
  </div>

  <div id="deleteFile" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('expediente/_delete_file_form.html.twig', {'id': expediente.id}) }}
      </div>
    </div>
  </div> 

  {% for movimiento in expediente.getMovimientos %}
    <div id="modalContentM{{ movimiento.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('movimiento/_delete_form.html.twig', {'id': movimiento.id }) }}
        </div>
      </div>
    </div>
    {% if app.user.area %}
    <div id="modalFirma{{movimiento.id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-header">
            <h4><b>Elegir Firmante</b></h4>
        </div>
        <div class="modal-content">
            <tbody>
                {% for f in app.user.area.firmas  %}
                <tr>
                  <td>{{f.persona.lastName ~ ', ' ~ f.persona.nombre }}</td>
                  <td width="80" class="text-right">
                      <a class="m-0 p-1 btn-soft-primary btn-sm" title="Firmar Pase" target="_blank" href="{{ path('firma_pase',{'id':movimiento.id, 'idF':f.id}) }}" >
                        <i class="nova-marker align-middle mr-1"></i> Firmar
                      </a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>               
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
{% endblock modal_content %}
