<head>
        <meta charset="UTF-8">
        <title>
          {% block title %}Expediente N° {{ expediente.numero }} {% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
<style>
@page {
  size: A4;
  margin-top:1cm;
  margin-bottom:1;
  margin-left:1;
  margin-right:1;
  padding: 0;
  border: solid 2px #050404;
}
body {
  font-family: helvetica !important;
  border:3px solid #050404 !important;
}

.card {
position:relative;
top: 0;
left: 0;
margin:15px;
z-index: -1;
}
.card-body{
  margin: 0px 10px;
  padding: 10px;
   border-top: 1px solid #cecece;
}
.card-head{
   display:inline-flex;
   height:100px;
   padding:15px;
}
.logo{
              /*
              background: url('https://registropublico.justicialarioja.gob.ar/logo.jpg') no-repeat fixed center;
              */
              width:80px;
              height:80px;
              position:relative;
              /*top:30px;*/
              left:90px
            }
html {
	margin: 50pt 15pt;
  border:3px solid 
}
.title{
              height:80px;
              text-align:center;
              position:relative;
              top:-15px;
              left:40px;
              display:inline-block;
            }
.title > h3{
   font-size:20px;
   font-weight:400;
   text-transform:uppercase;
   margin-left:40px;
}
.title > h4{
   letter-spacing:5px;
   font-size:15px;
   font-weight:400;
   text-transform:uppercase;
   margin-left: 60px;
}
th{
font-size:16px;
font-weight:500;
text-align:left;
padding: 2px 10px;
width:200px;
}
td{
 font-size:15px;
}
.table{
padding:5px 20px;
}
.table2{
border:1px solid #cecece;
}
.table2 > thead{
border-bottom:1px solid #cecece;
}
.table2 > thead > tr > th{
text-align:center;
}
.table2 > tbody > tr > td{
text-align:center;
}
hr{
border:2px solid #cecece;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right;
}
.text-left{
  text-align:left;
}
.container{ 
   display:table;
   width: 100%; 
   font-size: 20px;
} 
.left{ 
  display:table-cell; 
  width:33.33%; 
} 
.center{ 
   display:table-cell; 
   width:33.33%; 
} 
.right{ 
   display:table-cell; 
   width:33.33%; 
} 
</style>

        
    </head>
    {% block body %}
        {% block content_center %}
        
          <div class="card">

              <div class="card-head">
                  <div style=" display:inline-block;">
                    <img class="logo" src="https://registropublico.justicialarioja.gob.ar/logo.jpg">
                  </div>
                  <div class="title">
                  <h3>FUNCIÓN JUDICIAL - LA RIOJA</h3>
                  <h4>TRIBUNAL SUPERIOR DE JUSTICIA</h4>
                  </div>
              </div>

              <div class="card-body">
                <br>
                <h2 class="text-center" style="font-size:30px;">SECRETARIA ADMINISTRATIVA</h2>
                <br><br><br><br><br><br>
                <div class="container">
                  <div class="left"><strong>EXPTE. N°:</strong> {{expediente.numero}}</div>
                  <div class="center text-center"><strong>LETRA:</strong> "{{expediente.letra}}"</div>
                  <div class="right text-right"><strong>AÑO:</strong> {{ expediente.fecha ? expediente.fecha|date('Y') : '' }}</div>
                </div>
                {% if expediente.getSolicitante %}
                <br><br>
                <div class="container">
                  <div class="left"><strong>SOLICITANTE:</strong> {{expediente.getSolicitante.getLastName}}, {{expediente.getSolicitante.getNombre}}</div>
                </div>
                {% endif %}
                <br><br><br><br><br><br><br><br>
                <div class="container">
                  <div class="left"><strong>CARÁTULA:</strong> {{expediente.caratula}}</div>
                </div>
                                
              </div>  
          </div>
        {% endblock content_center %}
    {% endblock %}
   
    

