{% extends 'base/layout-main.html.twig' %}

{% block title %}Inicio - {{ parent() }}{% endblock %}

{% block content_center %}

  <div class="row">

    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
      <a href="{{path("expediente_index")}}" class="btn-inicio card flex-row align-items-center p-3 p-md-4">
        <div>
          <h6 class="mb-0">EXPEDIENTES</h6>
        </div>
        <i class="nova-arrow-right icon-text d-flex text-success ml-auto"></i>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
      <a href="{{path("area_index")}}" class="btn-inicio card flex-row align-items-center p-3 p-md-4">
        <div>
          <h6 class="mb-0">AREAS</h6>
        </div>
        <i class="nova-arrow-right icon-text d-flex text-success ml-auto"></i>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
      <a href="{{path("movimiento_index")}}" class="btn-inicio card flex-row align-items-center p-3 p-md-4">
        <div>
          <h6 class="mb-0">MOVIMINETOS</h6>
        </div>
        <i class="nova-arrow-right icon-text d-flex text-success ml-auto"></i>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
      <a href="{{path("user_index")}}" class="btn-inicio card flex-row align-items-center p-3 p-md-4">
        <div>
          <h6 class="mb-0">USUARIOS</h6>
        </div>
        <i class="nova-arrow-right icon-text d-flex text-success ml-auto"></i>
      </a>
    </div>
    <div class="col-md-6 col-xl-4 mb-3 mb-xl-4">
      <a href="{{path("log_index")}}" class="btn-inicio card flex-row align-items-center p-3 p-md-4">
        <div>
          <h6 class="mb-0">LOG DEL SISTEMAS</h6>
        </div>
        <i class="nova-arrow-right icon-text d-flex text-success ml-auto"></i>
      </a>
    </div>

  </div>

{% endblock %}
