{{ form_start(form) }}
    {{ form_widget(form) }}
    
    {% set count = firmas|length %}
    {% if count > 0 %}
        <input type="hidden" value="si" name="viene">
        <div class="form-group row">
            <label class="col-form-label col-sm-2 required" for="movimiento_Firmado">Firmado por</label>
            <div class="col-sm-10">
                <select id="movimiento_Firmado" name="firmado" class="form-control" data-select2-load="auto"  data-classes="select select-bordered rounded" >
                    {% for f in firmas %}
                    <option value="{{f.id}}">{{f.persona.lastname ~ ', ' ~ f.persona.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% else %}
    <input type="hidden" value="no" name="viene">    
    {% endif %}
    <hr>
    <button class="btn btn-sm float-right btn-outline-success">Guardar cambios</button>
{{ form_end(form) }}
