{% extends 'base/layout-main.html.twig' %}

{% block title %}Editar Movimiento - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Editar Movimiento</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">
        
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a target="_blank" class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('log_index') }}?filtro[objectClass]=App\\Entity\\Movimiento&filtro[objectId]={{ movimiento.id }}">
          <i class="nova-layers-alt icon-text align-middle mr-1"></i> &nbsp; Log
        </a>
        {% endif %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('expediente_show', {'id': exp.id}) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver al Expediente
        </a>

      </div>
    </div>

    {{ include('base/_flash.html.twig') }}

    <div class="card">
      <div class="card-body">
        {{ include('movimiento/_form.html.twig', {'button_label': 'Update'}) }}
      </div>
    </div>

{% endblock %}

{% block modal_content %}
  <div id="modalContent" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('movimiento/_delete_form.html.twig', {'id': movimiento.id}) }}
      </div>
    </div>
  </div>
{% endblock modal_content %}
