{% extends 'base/layout-main.html.twig' %}

{% block title %}Movimiento - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Movimiento</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">
        {% if is_granted('ROLE_SUPER_ADMIN') or (app.user.area and app.user.area.nombre == movimiento.user.area.nombre) %}
          {% set i = 1 %}
          {% set b = 0 %}
          {% set count = exp.getMovimientos|length %}
          {% for m in exp.getMovimientos %}
            {% if m.id == movimiento.id and count == i %}
              {% set b = 1 %}
            {% endif %}
            {% set i = i + 1%}
          {% endfor %}
          {% if b == 1 %}
            <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#modalContent">
              <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar
            </button>
                
            <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('movimiento_edit', {'id': movimiento.id}) }}">
              <i class="nova-pencil icon-text align-middle mr-1"></i>
              Editar
            </a>
          {% endif %}
          {#  
          <a target="_blank" class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('log_index') }}?filtro[objectClass]=App\\Entity\\Movimiento&filtro[objectId]={{ movimiento.id }}">
            <i class="nova-layers-alt icon-text align-middle mr-1"></i> &nbsp; Log
          </a>
          #}
        {% endif %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('expediente_show', {'id': exp.id , 'area': area} ) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
        </a>

      </div>
    </div>

    {{ include('base/_flash.html.twig') }}

    <div class="card">
      <div class="card-body">

        <table class="table">

          <tbody>
                <tr>
                  <th  width="150" class="text-right">Expte. N°</th>
                  <td>{{ movimiento.getExpediente.numero }}</td>
              </tr>
              <tr>
                  <th  width="150" class="text-right">Area</th>
                  <td>{{ movimiento.getArea.nombre }}</td>
              </tr>
              <tr>
                  <th  width="150" class="text-right">Fecha Ingreso</th>
                  <td>{{ movimiento.fechaIngreso ? movimiento.fechaIngreso|date('d/m/Y') : '' }}</td>
              </tr>
              <tr>
                  <th  width="150" class="text-right">Fecha Egreso</th>
                  <td>{{ movimiento.fechaEgreso ? movimiento.fechaEgreso|date('d/m/Y') : '' }}</td>
              </tr>
              <tr>
                  <th  width="150" class="text-right">Observación</th>
                  <td>{{ movimiento.observacion }}</td>
              </tr>
              <tr>
                  <th  width="150" class="text-right">Estado</th>
                  <td>{{ movimiento.estado }}</td>
              </tr>
              <tr>
                  <th width="150" class="text-right">Archivo Adjunto</th>
                  <td>
                    <!-- Si el archivo existe, mostramos el nombre el boton de editar -->
                    {% if movimiento.getArchivo %}        
                        
                        <div class="col">
                            <embed src="{{ asset('uploads/movimientos/' ~ movimiento.getArchivo)}}" type="application/pdf" width="100%" height="400px" />                    
                        </div>    
                      {% if movimiento.getUser.getId == app.user.id %}
                         <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#deleteFile">
                          <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar Archivo
                        </button>
                      {% endif %}   
                    {% else %}
                      <!-- Si el Archivo no existe, preguntamos si el usuario es el creador del expediente para mostrar el boton de "Subir Archivo" -->
                      {% if movimiento.getUser.getId == app.user.id %}
                        <a class="btn btn-soft-primary btn-sm" href="{{ path('document_mov_new',{'exp': movimiento.expediente.id, 'mov': movimiento.id}) }}">
                          <i class="nova-upload icon-text align-middle mr-1"></i> &nbsp; Archivo 
                        </a>
                      {% else %}
                        -- No tiene Archivo Adjunto --
                      {% endif %}    
                    {% endif %}
                  </td>
              </tr>
            </tbody>

        </table>

      </div>
    </div>

{% endblock %}

{% block modal_content %}
  <div id="modalContent" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('movimiento/_delete_form.html.twig', {'id': movimiento.id}) }}
      </div>
    </div>
  </div>
  <div id="deleteFile" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('movimiento/_delete_file_form.html.twig', {'id': movimiento.id, 'exp': exp}) }}
      </div>
    </div>
  </div>
{% endblock modal_content %}
