{% extends 'base/layout-main.html.twig' %}

{% block title %}Agregar Persona - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Agregar Solicitante</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('expediente_show', {'id':exp.id}) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver al Expediente
        </a>

      </div>
    </div>
    
    {% if exp.getSolicitante %}
      <div class="alert alert-dismissible alert-left-bordered border-success bg-soft-success d-flex align-items-center rounded-0 p-md-4 mb-2 fade show" role="alert">
          <i class="nova-check-box icon-text text-success mr-2"></i>
          <h1 class="mb-0 h4">
            <strong>Solicitante Actual del Expediente N° {{exp.getNumero}}:</strong>
              {{exp.getSolicitante.getLastName}}, {{exp.getSolicitante.getNombre}}  
          </h1>
          <button type="button" class="close" aria-label="Close" data-dismiss="alert">
              <i class="nova-close icon-text icon-text-xs" aria-hidden="true"></i>
          </button>
      </div>   
    {% else %}
      <div class="alert alert-dismissible alert-left-bordered border-danger bg-soft-danger d-flex align-items-center rounded-0 p-md-4 mb-2 fade show" role="alert">
          <i class="nova-alert icon-text text-danger mr-2"></i>
          <h1 class="mb-0 h4">
            <strong>El Expediente N° {{exp.getNumero}} no registro Solicitante</strong>  
          </h1>
          <button type="button" class="close" aria-label="Close" data-dismiss="alert">
              <i class="nova-close icon-text icon-text-xs" aria-hidden="true"></i>
          </button>
      </div> 
    {% endif %}
    {{ include('base/_flash.html.twig') }}
    <br><h1 class="h4 mb-2 mx-2">Buscar Solicitante Existente</h1>
    {{ include('persona/_filtro.html.twig', {'form': formFiltro}) }}

    <div class="card mb-3 mb-md-4">
      <div style="padding:0px 0px;" class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm table-shadow table-row-click bg-white mb-5">

            <thead>
                <tr>
                
                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'e.lastName') }}
                  </div>
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    {{ knp_pagination_sortable(pagination, 'Dni', 'e.dni') }}
                  </div>
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    {{ knp_pagination_sortable(pagination, 'Teléfono', 'e.telephone') }}
                  </div>
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    {{ knp_pagination_sortable(pagination, 'Celular', 'e.cellphone') }}
                  </div>
                </th>

                <th></th>
                </tr>
            </thead>
            <tbody>
        {% for persona in pagination %}
            <tr>
                <td onClick="window.location='{{ path('persona_show', {'id': persona.id,'exp':exp.id}) }}'">{{ persona.lastName }}, {{ persona.nombre }}</td>
                <td onClick="window.location='{{ path('persona_show', {'id': persona.id,'exp':exp.id}) }}'">{{ persona.dni }}</td>
                <td onClick="window.location='{{ path('persona_show', {'id': persona.id,'exp':exp.id}) }}'">{{ persona.telephone }}</td>
                <td onClick="window.location='{{ path('persona_show', {'id': persona.id,'exp':exp.id}) }}'">{{ persona.cellphone }}</td>

                  <td width="110" class="text-right">
                    <a class="m-0 p-1 btn-soft-primary btn-sm" title="Registrar Solicitante" href="{{ path('solicitabte_new',{'exp': exp.id, 'per': persona.id}) }}">
                      <i class="nova-shift-right align-middle mr-1"></i> Asignar
                    </a>
                  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
   <div style="padding:0px;" class="card-footer p-2 d-block d-md-flex justify-content-between">
    <div class="d-flex mb-2 mb-md-0 d-inline-flex">
      {{ pagination.getTotalItemCount }} {{ pagination.getTotalItemCount == 1 ? " registro" : " registros" }} en total
    </div>
    <div class="d-inline-flex align-items-end" >
      {{ knp_pagination_render(pagination) }}
    </div>
  </div> 

  <br><hr><br>
  <h1 class="h4 mb-2 mx-2">Nuevo Solicitante</h1>
    <div class="card">
      <div class="card-body">
        {{ include('persona/_form.html.twig') }}
      </div>
    </div>

{% endblock %}
