{% extends 'base/layout-main.html.twig' %}

{% block title %}Persona - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Persona</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">

        <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#modalContent">
          <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar
        </button>

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('persona_edit', {'id': persona.id, 'exp':exp}) }}">
          <i class="nova-pencil icon-text align-middle mr-1"></i>
          Editar
        </a>
        {% if exp %}
          <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('persona_new',{'exp': exp}) }}">
            <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
          </a>
        {% else %}
          <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('persona_index') }}">
            <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver al listado
          </a>
        {% endif %}
      </div>
    </div>

    {{ include('base/_flash.html.twig') }}
    <div class="card">
      <div class="card-body">

        <table class="table">

          <tbody>
                <tr>
                  <th  width="150" class="text-right">Nombre</th>
                  <td>{{ persona.nombre }}</td>
              </tr>
                <tr>
                  <th  width="150" class="text-right">Apellidos</th>
                  <td>{{ persona.lastName }}</td>
              </tr>
                <tr>
                  <th  width="150" class="text-right">Dni</th>
                  <td>{{ persona.dni }}</td>
              </tr>
                <tr>
                  <th  width="150" class="text-right">Telefono</th>
                  <td>{{ persona.cellphone }}</td>
              </tr>              
              <tr>  
                  <th width="10%" class="text-right">Firma</th>
                  <td colspan="5" >
                    {% if persona.firma %}
                    <div class="col">
                        <embed src="{{ asset('uploads/firmas/' ~ persona.firma)}}" type="application/pdf" width="100%" height="200px" />                    
                    </div>
                        
                    <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#deleteFile">
                        <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar Archivo
                    </button>
                    {% else %}
                        <a class="btn btn-soft-primary btn-sm" href="{{ path('firma_archivo_new',{'id': persona.id}) }}">
                          <i class="nova-upload icon-text align-middle mr-1"></i> &nbsp; Archivo 
                        </a>
                    {% endif %}
                  </td>
                </tr>  
            </tbody>

        </table>

      </div>

      
    </div>
    <br>
    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Firmas</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">
      {% if persona.firma %}              
        <a class="btn btn-soft-primary btn-sm" href="{{ path('firma_new', {'id': persona.id}) }}">
          <i class="nova-plus align-middle mr-1"></i> &nbsp; Agregar Area
        </a>      
      {% else %}
        <button class="btn btn-soft-primary btn-sm" type="button" data-toggle="modal" data-target="#noFile">
            <i class="nova-plus align-middle mr-1"></i> &nbsp; Agregar Area
        </button>
      {% endif %}
      </div>
    </div>  
    {% set cant = persona.firmas|length %}
    {% if cant > 0 %}
    

    <div class="card">
      <div class="card-body">

        <table class="table">

          <thead>
              <tr>
                   <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                    <div class="d-flex justify-content-between align-items-center">
                      Area
                    </div>
                  </th>
                  <th></th>
               </tr>
          </thead>
          <tbody>
                
             {% for firma in persona.firmas %}
                <tr>
                    <td>{{ firma.area.nombre }}</td>
                    <td width="80" class="text-right">
                      <a class="m-0 p-1 btn btn-sm" title="Editar registro" href="{{ path('persona_edit', {'id': firma.id}) }}">
                        <i class="nova-pencil unfold-item-icon"></i>
                      </a>
                      <a class="m-0 p-1 btn btn-sm" title="Eliminar registro" href="javascript:void(0)" data-toggle="modal" data-target="#modalContent{{firma.id}}">
                        <i class="nova-trash icon-text align-middle"></i>
                      </a>
                    </td>
                </tr>      
             {% endfor %}
          </tbody>
        </table>     
      </div>
  </div>
  {% endif %} 

      
{% endblock %}

{% block modal_content %}
  <div id="modalContent" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('persona/_delete_form.html.twig', {'id': persona.id}) }}
      </div>
    </div>
  </div>
  <div id="deleteFile" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          {{ include('firma/_delete_file_form.html.twig', {'id': persona.id}) }}
      </div>
    </div>
  </div>
  <div id="noFile" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="row">
            <div class="col">
              <h1 class="h5"> Debe subir la imagen de la firma para agregar "Area" </h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-sm btn-soft-light text-dark float-right" data-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock modal_content %}
