{% extends 'base/layout-main.html.twig' %}
{% block title %}Juzgado - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Juzgado</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">
        <a class="btn btn-soft-primary btn-sm" href="{{ path('juzgado_new') }}">
          <i class="nova-plus align-middle mr-1"></i> &nbsp; Agregar
        </a>
      </div>
    </div>

    {{ include('base/_flash.html.twig') }}
    {{ include('juzgado/_filtro.html.twig', {'form': formFiltro}) }}

    <div class="card mb-3 mb-md-4">
      <div style="padding:0px 0px;" class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm table-shadow table-row-click bg-white mb-5">

            <thead>
                <tr>

                <th scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    {{ knp_pagination_sortable(pagination, 'Juzgado', 'e.nombre') }}
                  </div>
                </th>

                <th></th>
                </tr>
            </thead>
            <tbody>
        {% for juzgado in pagination %}
            <tr>
                <td onClick="window.location='{{ path('juzgado_show', {'id': juzgado.id}) }}'">{{ juzgado.nombre }}</td>
                  <td width="80" class="text-right">
                    <a class="m-0 p-1 btn btn-sm" title="Editar registro" href="{{ path('juzgado_edit', {'id': juzgado.id}) }}">
                      <i class="nova-pencil unfold-item-icon"></i>
                    </a>
                    <a class="m-0 p-1 btn btn-sm" title="Eliminar registro" href="javascript:void(0)" data-toggle="modal" data-target="#modalContent{{juzgado.id}}">
                      <i class="nova-trash icon-text align-middle"></i>
                    </a>
                  </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div style="padding:0px;" class="card-footer p-2 d-block d-md-flex justify-content-between">
    <div class="d-flex mb-2 mb-md-0 d-inline-flex">
      {{ pagination.getTotalItemCount }} {{ pagination.getTotalItemCount == 1 ? " registro" : " registros" }} en total
    </div>
    <div class="d-inline-flex align-items-end" >
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>

</div>

{% endblock %}

{% block modal_content %}
  {% for juzgado in pagination %}
    <div id="modalContent{{ juzgado.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('juzgado/_delete_form.html.twig', {'id': juzgado.id }) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock modal_content %}
