{% set current_path = app.request.get('_route') %}
<br>

<!-- Sidebar Nav -->
<aside id="sidebar" class="js-custom-scroll side-nav">
  <ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-0">

    <br>

    {% if app.user.area %}    
      
      {% set opciones = ["expediente_index", "expediente_show","expediente_edit","expediente_new"] %}
      <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
        <a class="side-nav-menu-link media align-items-center" href="{{ path("expediente_index") }}">
          <span class="side-nav-menu-icon d-flex mr-3">
            <i class="nova-folder"></i>
          </span>
          <span class="side-nav-fadeout-on-closed media-body">Expedientes</span>
        </a>
      </li>
      {% if app.user.area and app.user.area == 'SECRETARIA ADMINISTRATIVA' %}
        {% set opciones = ["expediente_estadisticas"] %}
        <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("expediente_estadisticas") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-bar-chart-alt align-middle mr-1"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Estadísticas</span>
          </a>
        </li>

        {% set opciones = ["firma_index"] %}
        <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("firma_index") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-marker align-middle mr-1"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Firmas</span>
          </a>
        </li>
        {% set opciones = ["persona_index"] %}
        <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("persona_index") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-user align-middle mr-1"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Personas</span>
          </a>
        </li>
      {% endif %}  
    
    {% endif %}  
    <!-- End Dashboards -->
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    {% set opciones = ["inicio"] %}    
      <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
        <a class="side-nav-menu-link media align-items-center" href="{{ path("inicio") }}">
          <span class="side-nav-menu-icon d-flex mr-3">
            <i class="nova-dashboard"></i>
          </span>
          <span class="side-nav-fadeout-on-closed media-body">Inicio</span>
        </a>
      </li> 
    {% set opciones = ["expediente_index", "expediente_show","expediente_edit","expediente_new"] %}
    <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
      <a class="side-nav-menu-link media align-items-center" href="{{ path("expediente_index") }}">
        <span class="side-nav-menu-icon d-flex mr-3">
          <i class="nova-folder"></i>
        </span>
        <span class="side-nav-fadeout-on-closed media-body">Expedientes</span>
      </a>
    </li>
    {% set opciones = ["expediente_estadisticas"] %}
        <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("expediente_estadisticas") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-bar-chart-alt align-middle mr-1"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Estadísticas</span>
          </a>
        </li>

        {% set opciones = ["firma_index"] %}
        <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("firma_index") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-marker align-middle mr-1"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Firmas</span>
          </a>
        </li>
        {% set opciones = ["persona_index"] %}
        <li class="side-nav-menu-item {{ current_path in opciones ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("persona_index") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-user align-middle mr-1"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Personas</span>
          </a>
        </li>

    <!-- Sidebar Sub Title -->
    <li class="sidebar-heading h6">Sistema</li>
    <!-- End Sidebar Sub Title -->
    <li class="side-nav-menu-item {{ current_path == "user_index" ? "active" : ""  }}">
      <a class="side-nav-menu-link media align-items-center" href="{{ path("user_index") }}">
        <span class="side-nav-menu-icon d-flex mr-3">
          <i class="nova-user"></i>
        </span>
        <span class="side-nav-fadeout-on-closed media-body">Administrar Usuarios</span>
      </a>
      </li>

    <li class="side-nav-menu-item {{ current_path == "area_index" ? "active" : ""  }}">
      <a class="side-nav-menu-link media align-items-center" href="{{ path("area_index") }}">
        <span class="side-nav-menu-icon d-flex mr-3">
          <i class="nova-world"></i>
        </span>
        <span class="side-nav-fadeout-on-closed media-body">Areas</span>
      </a>
    </li>
    <li class="side-nav-menu-item {{ current_path == "juzgado_index" ? "active" : ""  }}">
      <a class="side-nav-menu-link media align-items-center" href="{{ path("juzgado_index") }}">
        <span class="side-nav-menu-icon d-flex mr-3">
            <i class="nova-home"></i>
        </span>
        <span class="side-nav-fadeout-on-closed media-body">Juzgados</span>
      </a>
    </li>
      <li class="side-nav-menu-item {{ current_path == "log_index" ? "active" : ""  }}">
          <a class="side-nav-menu-link media align-items-center" href="{{ path("log_index") }}">
            <span class="side-nav-menu-icon d-flex mr-3">
              <i class="nova-settings"></i>
            </span>
            <span class="side-nav-fadeout-on-closed media-body">Logs del Sistema</span>
          </a>
        </li>
        <!-- End Dashboards -->
    {% endif %}
  </ul>
</aside>
<!-- End Sidebar Nav -->
