{% extends 'base/layout-public.html.twig' %}

{% block contenido_principal %}
    <div class="form-signin">
        <h3 style="text-align:center"> Bienvenidos al Sistema de Gestión Administrativa</h3>
        <hr>
            <button class="btn btn-lg btn-sm btn-outline-dark btn-block" onclick="window.location.href='{{ path("fos_user_security_login") }}'" >INGRESAR</button>
        <hr>
    </div>
{% endblock contenido_principal %}

