{% extends 'base/layout-main.html.twig' %}

{% block title %}Agregar Área - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Agregar Área</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">
        {% if id %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('area_show', {'id':id}) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
        </a>
        {% else %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('area_index') }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver al listado
        </a>
        {% endif %}

      </div>
    </div>

    {{ include('base/_flash.html.twig') }}

    <div class="card">
      <div class="card-body">
        {{ include('area/_form.html.twig') }}
      </div>
    </div>

{% endblock %}
