{% extends 'base/layout-main.html.twig' %}

{% block title %}Area - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Área - {{area.nombre}}</h1>
      </div>
      {% if is_granted("ROLE_SUPER_ADMIN","ROLE_AREA_ADMIN") %}
      <div class="col-md ml-md-auto text-md-right">

        <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#modalContent">
          <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar
        </button>

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('area_edit', {'id': area.id}) }}">
          <i class="nova-pencil icon-text align-middle mr-1"></i>
          Editar
        </a>

        <a target="_blank" class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('log_index') }}?filtro[objectClass]=App\\Entity\\Area&filtro[objectId]={{ area.id }}">
          <i class="nova-layers-alt icon-text align-middle mr-1"></i> &nbsp; Log
        </a>
        {% if id %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('area_show',{'id':id}) }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver
        </a>
        {% else %}
        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('area_index') }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver al listado
        </a>
        {% endif %}

      </div>
      {% endif %}
    </div>

    {{ include('base/_flash.html.twig') }}

    <div class="card">
      <div class="card-body">
      
        <div class="row">
          <div class="col-md-6">
            <h4 class="h4 mb-0">Area</h4><br><br>
            <table class="table">
              <tbody>  
                    <tr>
                      <th  width="150" class="text-right">Nombre</th>
                      <td>{{ area.nombre }}</td>
                  </tr>
                    <tr>
                      <th  width="150" class="text-right">Depende</th>
                      <td>{{ area.getParent ? area.getParent.nombre : '-- De Ninguna Area --'}}</td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
        
            <div class="row align-items-center mb-3 mb-xl-5">
              <div class="col-md mb-2 mb-md-0">
                <h4 class="h4 mb-0">Subáreas</h4>
              </div>
              {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_AREA_ADMIN") %}
              <div class="col-md ml-md-auto text-md-right">
                <a class="btn btn-soft-primary btn-sm" href="{{ path('area_new', {'id':area.id}) }}">
                  <i class="nova-plus align-middle mr-1"></i> &nbsp; Agregar Subárea
                </a>
              </div>
              {% endif %}
            </div><br>
          
            {% if area.getChildren %}
          
            <div class="table-responsive-md">
              <table class="table table-sm table-shadow table-row-click bg-white mb-5">
                <tbody>
                  {% for a in area.getChildren %}
                  <tr>
                      <td onClick="window.location='{{ path('area_show', {'id': a.id, 'area':area.id}) }}'">{{ a.nombre}}</td>

                      <td width="80" class="text-right">
                          <a class="m-0 p-1 btn btn-sm" title="Editar registro" href="{{ path('area_edit', {'id': a.id, 'area': area.id}) }}">
                            <i class="nova-pencil unfold-item-icon"></i>
                          </a>
                          <a class="m-0 p-1 btn btn-sm" title="Eliminar registro" href="javascript:void(0)" data-toggle="modal" data-target="#modalEContent{{a.id}}">
                            <i class="nova-trash icon-text align-middle"></i>
                          </a>
                      </td>
                  </tr>
                  {% else %}
                  <tr>
                      <td colspan="2">No se encontraron registros</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% endif %}
          </div>
        </div>
          
        <br><hr><br>
        <div class="row align-items-center mb-3 mb-xl-5">
            <div class="col-md mb-2 mb-md-0">
                <h4 class="h4 mb-0">Expedientes Ingresados</h4>
            </div>            
        </div>
        
        <br>
          
            <div class="table-responsive-md">
              <table class="table table-sm table-shadow table-row-click bg-white mb-5">
              
                <thead class="border-top">
                    <tr>
                      <th  scope="col" class="font-weight-semi-bold border-top-0 py-2">
                        <div class="d-flex justify-content-between align-items-center">
                          Numero
                        </div>
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        <div class="d-flex justify-content-between align-items-center">
                          Fecha de Ingreso
                        </div>
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        <div class="d-flex justify-content-between align-items-center">
                          Fecha de Egreso
                        </div>
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        <div class="d-flex justify-content-between align-items-center">
                          Estado
                        </div>
                      </th>
                      <th class="font-weight-semi-bold border-top-0 py-2">
                        <div class="d-flex justify-content-between align-items-center">
                          Observación
                        </div>
                      </th>
                    </tr>
                </thead>
                <tbody>
                  {% for m in area.getMovimientos %}
                  <tr>
                      <td onClick="window.location='{{ path('expediente_show', {'id': m.getExpediente.id, 'area':area.id}) }}'">{{ m.getExpediente.numero}}</td>
                      <td onClick="window.location='{{ path('expediente_show', {'id': m.getExpediente.id, 'area':area.id}) }}'">{{ m.fechaIngreso ? m.fechaIngreso|date('d/m/Y') : '' }}</td>
                      <td onClick="window.location='{{ path('expediente_show', {'id': m.getExpediente.id, 'area':area.id}) }}'">{{ m.fechaEgreso ? m.fechaEgreso|date('d/m/Y') : ''}}</td>
                      <td onClick="window.location='{{ path('expediente_show', {'id': m.getExpediente.id, 'area':area.id}) }}'">
                        {% set i = 1 %}
                        {% set c = m.getExpediente.getMovimientos|length %}
                        {% for u in m.getExpediente.getMovimientos %}
                          {% if i == c %}
                            {% if u.estado == 'Aprobado'%}
                            <h4><span class="badge badge-pill badge-success md-2 mr-2"> {{ u.estado }}</span></4>
                            {% elseif u.estado == 'No Aprobado'%}
                              <h4><span class="badge badge-pill badge-danger md-2 mr-2"> {{ u.estado }}</span></4>
                              {% elseif u.estado == 'Archivado'%}
                              <h4><span class="badge badge-pill badge-dark md-2 mr-2"> {{ u.estado }}</span></4>
                              {% elseif u.estado == 'Finalizado'%}
                              <h4><span class="badge badge-pill badge-light md-2 mr-2"> {{ u.estado }}</span></4>
                              {% elseif u.estado == 'SEF'%}
                              <h4><span class="badge badge-pill badge-primary md-2 mr-2"> {{ u.estado }}</span></4>
                              {% else%}
                            <h4><span class="badge badge-pill badge-warning md-2 mr-2"> {{ u.estado }}</span></4>
                            {% endif%}
                          {% endif %}
                          {% set i = i + 1 %}
                        {% endfor %}
                        <!--{{ m.getExpediente.estado}}-->
                      </td>
                      <td onClick="window.location='{{ path('expediente_show', {'id': m.getExpediente.id, 'area':area.id}) }}'">{{ m.observacion}}</td>
                  </tr>
                  {% else %}
                  <tr>
                      <td colspan="2">No se encontraron registros</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>  
         
      </div>
    </div>
    

   

{% endblock %}

{% block modal_content %}
  <div id="modalContent" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('area/_delete_form.html.twig', {'id': area.id}) }}
      </div>
    </div>
  </div>
  {% for ar in area.getChildren %}
    <div id="modalEContent{{ ar.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('area/_delete_form.html.twig', {'id': ar.id}) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock modal_content %}
