{% extends 'base/layout-main.html.twig' %}
{% block title %}Firma - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Firma</h1>
      </div>{#
      <div class="col-md ml-md-auto text-md-right">
        <a class="btn btn-soft-primary btn-sm" href="{{ path('firma_new') }}">
          <i class="nova-plus align-middle mr-1"></i> &nbsp; Agregar
        </a>
      </div>#}
    </div>

    {{ include('base/_flash.html.twig') }}
    {{ include('firma/_filtro.html.twig', {'form': formFiltro}) }}

    <div class="card mb-3 mb-md-4">
      <div style="padding:0px 0px;" class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm table-shadow table-row-click bg-white mb-5">

            <thead>
                <tr>

                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    Personal
                  </div>
                </th>


                <th   scope="col" class="font-weight-semi-bold border-top-0 py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    Area
                  </div>
                </th>
            </thead>
            <tbody>
        {% for firma in pagination %}
            <tr>
                <td onClick="window.location='{{ path('firma_show', {'id': firma.id}) }}'">{{ firma.persona.lastname ~ ', ' ~ firma.persona.nombre }}</td>
                <td onClick="window.location='{{ path('firma_show', {'id': firma.id}) }}'">{{ firma.area ? firma.area.nombre : '-- No tiene --' }}</td>                  
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <div style="padding:0px;" class="card-footer p-2 d-block d-md-flex justify-content-between">
    <div class="d-flex mb-2 mb-md-0 d-inline-flex">
      {{ pagination.getTotalItemCount }} {{ pagination.getTotalItemCount == 1 ? " registro" : " registros" }} en total
    </div>
    <div class="d-inline-flex align-items-end" >
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>

</div>

{% endblock %}

{% block modal_content %}
  {% for firma in pagination %}
    <div id="modalContent{{ firma.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          {{ include('firma/_delete_form.html.twig', {'id': firma.id }) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock modal_content %}
