{% extends 'base/layout-main.html.twig' %}

{% block title %}Firma - {{ parent() }}{% endblock %}

{% block content_center %}

    <div class="row align-items-center mb-3 mb-xl-5">
      <div class="col-md mb-2 mb-md-0">
        <h1 class="h3 mb-0">Firma</h1>
      </div>
      <div class="col-md ml-md-auto text-md-right">

        <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#modalContent">
          <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar
        </button>

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('firma_edit', {'id': firma.id}) }}">
          <i class="nova-pencil icon-text align-middle mr-1"></i>
          Editar
        </a>

        <a class="btn btn-soft-light text-dark btn-sm float-right" style="margin-right:15px;" href="{{ path('firma_index') }}">
          <i class="nova-angle-left icon-text align-middle mr-1"></i> &nbsp; Volver al listado
        </a>

      </div>
    </div>

    {{ include('base/_flash.html.twig') }}

    <div class="card">
      <div class="card-body">

        <table class="table">

          <tbody>
                <tr>
                  <th  width="150" class="text-right">Personal</th>
                  <td>{{ firma.persona.lastName ~ ', ' ~ firma.persona.nombre }}</td>
              </tr>
                <tr>
                  <th  width="150" class="text-right">Area</th>
                  <td>{{ firma.area ? firma.area.nombre : '-- No tiene --'}}</td>
              </tr>
                <tr>  
                  <th width="10%" class="text-right">Archivo</th>
                  <td colspan="5" >
                    {% if firma.archivo %}
                    <div class="col">
                        <embed src="{{ asset('uploads/firmas/' ~ firma.archivo)}}" type="application/pdf" width="100%" height="200px" />                    
                    </div>
                        
                    <button class="btn btn-sm btn-soft-danger float-right" type="button" data-toggle="modal" data-target="#deleteFile">
                        <i class="nova-trash icon-text align-middle mr-1"></i> &nbsp; Eliminar Archivo
                    </button>
                    {% endif %}
                    <!-- Si el Archivo no existe, preguntamos si el usuario es el creador del expediente para mostrar el boton de "Subir Archivo" -->
                    {% if firma.archivo == null %}
                        <a class="btn btn-soft-primary btn-sm" href="{{ path('firma_archivo_new',{'id': firma.id}) }}">
                          <i class="nova-upload icon-text align-middle mr-1"></i> &nbsp; Archivo 
                        </a>
                    {% endif %}
                  </td>
                </tr>  
            </tbody>

        </table>

      </div>
    </div>

{% endblock %}

{% block modal_content %}
  <div id="modalContent" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('firma/_delete_form.html.twig', {'id': firma.id}) }}
      </div>
    </div>
  </div>
  <div id="deleteFile" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{ include('firma/_delete_file_form.html.twig', {'id': firma.id}) }}
      </div>
    </div>
  </div>
{% endblock modal_content %}
